{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{streamer.nome}} - STUDY</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/rajdhani.css' %}">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/mdb.css' %}">
  <link rel="icon" href="{% static 'img/logo.ico' %}" type="imagex-icon" />
  <style type="text/css">
   body {
     font-family: 'Rajdhani', sans-serif;
   }

   @media (min-width: 800px) and (max-width: 850px) {
     .navbar:not(.top-nav-collapse) {
       background: #408AFF !important;
     }
   }

   html {
     overflow-y: hidden;
     overflow-x: hidden;
   }

   .btn-study {
     background-color: #408AFF
   }


   #fast {
     font-size: 1.5em;
   }

   option:hover {
     background-color: #408aff;
     color: white;
     cursor: pointer;
   }

   input[type=file] {
     position: absolute;
     top: 0;
     right: 0;
     margin: 0;
     padding: 0;
     font-size: 20px;
     cursor: pointer;
     opacity: 0;
     filter: alpha(opacity=0);
   }

   .image_inner_container {
     border-radius: 50%;
     padding: 3px;
     height: 45px;
     width: 45px;
     background-color: #52c234;
     background: -webkit-linear-gradient(to bottom, #52c234;
     #061700, #52c234);
     background: linear-gradient(to bottom, #52c234;
     #061700, #52c234);
   }

   .image_inner_container2 {
     border-radius: 50%;
     padding: 5px;
     height: 40px;
     width: 40px;
   }

   .image_inner_container img {
     width: 100%;
     height: 100%;
     border-radius: 50%;
     border: 5px solid white;
   }

   .image_inner_container2 img {

     border-radius: 50%;
     border: 5px solid white;
   }

   iframe {
     width: 100%;
     height: 100vh;
     border: none;
   }

   .sidebar {
     height: 100vh;
     width: 100%;
     -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
     box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
     z-index: 1050;
     background-color: #fff;
   }

   .sidebar .list-group .active {
     -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
     box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
     -webkit-border-radius: 5px;
     border-radius: 5px
   }


   @media only screen and (max-width: 575px) {
     .col-xs-1 {
       width: 25%;
     }

     .col-xs-11 {
       width: 75%;

     }
   }


   .top-list {
     font-size: 1.4em;
     color: #408aff;
     padding-top: 1.5em;
   }

   @media only screen and (max-width: 575px) {
     .first-list {
       display: none;
     }

     .second-list {
       display: inline;
     }

   }

   @media only screen and (min-width: 576px) {
     .first-list {
       display: inline;
     }

     .second-list {
       display: none;
     }

   }

   .image_inner_containerR{
     height: 35px;
     width: 35px;
     border-radius: 50%;
     padding: 3px;
     margin-left: -7px;
     background-color: #52c234;
     background: -webkit-linear-gradient(to bottom, #52c234;
     #061700, #52c234);
     background: linear-gradient(to bottom, #52c234;
     #061700, #52c234);
   }

   .image_inner_containerR img{
     border-radius: 50%;
     height: 100%;
     width: 100%;
   }
</style>

</head>

<body>

  <!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar mb-4">
    <!-- Brand -->
    <a class="navbar-brand" href="{% url 'index' %}">
          <strong>STUDY</strong>
        </a>

    <!-- Collapse -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Left -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}">Início
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'streams' %}" target="">Procurar</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id='drop_more' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>Mais</a>

          <div class='dropdown-menu' aria-labelledby='drop_more'>
            <a class='dropdown-item' id="a" href="{% url 'sobre' %}" target="ajax">
              <div class='espaço rounded w-100 '>Sobre </div>
            </a>

            <a class='dropdown-item' href="{% url 'termos' %}" target="ajax">
              <div class='espaço rounded w-100 '>Termos </div>
            </a>

          </div>


        </li>

      </ul>

      <!-- Right -->
      <ul class="navbar-nav nav-flex-icons">

        {% if perfil_logado %}

        {% if perfil_status %}
        <li class='nav-item' id='stream'>
          <a class='nav-link' data-toggle='modal' data-target='#form3'>
                                  <i id='fast' class='fa fa-video-camera mr-1'></i>
                                </a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link border border-light rounded" href="{% url 'encerraStream' %}">Encerrar transmissão</a>
        </li>
        {% endif %}
        <li class='nav-item '>
          <img src="{% static perfil_logado.imagem_perfil %}" id="img_perfil" class='d-inline-block align-top image_inner_container2'>
          <li class='nav-item dropdown ml-1'>
            <a class='nav-link dropdown-toggle' id='drop_user' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>{{perfil_logado.nome}}</a>

            <div class='dropdown-menu dropdown-menu-right' aria-labelledby='drop_user'>
              <a class='dropdown-item rounded' href="{% url 'painel' perfil_logado.nome %}">
                <div class='espaço rounded w-100'> Painel de Controle</div>
              </a>
              <a class='dropdown-item rounded' href=''>
                <div class='espaço rounded w-100'> Canal</div>
              </a>
              <a class='dropdown-item rounded' href="{% url 'logout' streamer.nome %}">
                <div class='espaço rounded w-100'>Sair</div>
              </a>
            </div>
          </li>
        </li>
        {% else %}
        <li class='nav-item'>
          <a class='nav-link border border-light rounded' data-toggle='modal' data-target='#form'>
            <i class='fa fa-user-plus mr-2'></i>Cadastrar-se
          </a>
        </li>
        <li class='nav-item'>
          <a class='nav-link border border-light rounded ml-2' data-toggle='modal' data-target='#form2'>
            <i class='fa fa-user mr-2'></i>Login
          </a>
        </li>
        {% endif %}
      </ul>
  </nav>
  <div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
      <div class="modal-content">
        <form method="POST" action="{% url 'cadastro' streamer.nome %}">
          {% csrf_token %}
          <div class="modal-header study white-text">
            <h4 class="title">
              <i class="fa fa-pencil"></i> Cadastrar-se
            </h4>
            <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="md-form form-sm">
              <i class="fa fa-user prefix"></i>
              <input type="text" id="username" name="username" class="form-control form-control-sm">
              <label for="username" id="lusername" value="0">Usuário</label>
            </div>
            <div class="alert alert-warning" style="display: none;border-left: 3px solid #b71c1c !important;width:" id="erroUsername"><i class="fa fa-close mr-2"></i>Usuário ou senha incorretas.</div>
            <div class="md-form form-sm">
              <i class="fa fa-lock prefix"></i>
              <input type="password" id="password" name="password" class="form-control form-control-sm">
              <label for="password">Senha</label>
            </div>
            <div class="md-form form-sm">
              <i class="fa fa-lock prefix"></i>
              <input type="password" id="confPass" name="confPass" class="form-control form-control-sm">
              <label for="confPass" id="lconfPass" value="0">Repita Senha</label>
            </div>
            <div class="alert alert-warning" style="display: none;border-left: 3px solid #b71c1c !important;" id="erroSenha"><i class="fa fa-close mr-2"></i>Usuário ou senha incorretas.</div>
            <div class="md-form form-sm">
              <i class="fa fa-envelope prefix"></i>
              <input type="email" id="email" name="email" class="form-control">
              <label for="email" id="lEmail" value="0">E-mail address</label>
            </div>
            <div class="alert alert-warning" style="display: none;border-left: 3px solid #b71c1c !important;" id="erroEmail"><i class="fa fa-close mr-2"></i>Usuário ou senha incorretas.</div>
            <div class="text-center mt-4 mb-2">
              <button type="button" name="cadastrar" class="btn btn-outline-primary" id="btnCadastrar">Cadastrar
                <i class="fa fa-send ml-2"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal fade" id="form2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
      <div class="modal-content">
        <div class="modal-header study white-text">
          <h4 class="title"><i class="fa fa-pencil"></i> Entrar</h4>
          <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" action="{% url 'login' streamer.nome %}">
            {% csrf_token %}
            <div class="md-form form-sm">
              <i class="fa fa-user prefix"></i>
              <input type="text" id="usernameLogin" name="username" class="form-control form-control-sm">
              <label for="usernameLogin">Usuário</label>
            </div>
            <div class="md-form form-sm">
              <i class="fa fa-lock prefix"></i>
              <input type="password" id="passwordLogin" name="password" class="form-control form-control-sm">
              <label for="passwordLogin">Senha</label>
            </div>
            <div class="alert alert-danger" style="display: none;border-left: 3px solid #b71c1c !important;width:" id="erroLogin"><i class="fa fa-close mr-2"></i>Usuário ou senha incorretas.</div>
            <div class="text-center mt-4 mb-2">
              <button type="button" name="cadastrar" class="btn btn-outline-primary" id="btnLogin">Entrar
                <i class="fa fa-send ml-2"></i>
              </button>
              <input type="submit" name="" id="logar" style="visibility: hidden;">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="form3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
      <div class="modal-content">
        <form method="POST" action="{% url 'iniciaStream' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="modal-header study white-text">
            <h4 class="title"><i class="fa fa-play"></i> Iniciar Transmissão</h4>
            <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="md-form form-sm">
              <i class="fa fa-pencil prefix"></i>
              <input type="text" id="titulo" name="titulo" class="form-control form-control-sm">
              <label for="titulo">Título</label>
            </div>
            <div class="md-form form-sm">
              <i class="fa fa-book prefix"></i>
              <input type="search" id="area" name="area" class="form-control form-control-sm dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <label for="area">Área</label>
              <div id="menu" class="dropdown-menu" aria-labelledby="dropdown" style="width: 94%;">
                <div id="menuItems">
                  <ul class="navbar nav" style="background-color: white">
                    <li class="nav-item border-bottom border-light mt-1" style="width: 100%;">
                        {% for row in area %}
                        <option style="font-size: 1.1em" id="{{row.id}}"><img src="{% static row.imagem %}" class="img-left" height="30"> {{row.area}}</option>
                        {% endfor %}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="md-form form-sm ">
              <i class="fa fa-file-image-o prefix " aria-hidden="true" style="color: #616161;"></i>
              <span class="btn btn-sm btn-outline-primary" style="width: 20%; margin-left: 27px;" data-toggle="tooltip" data-placement="right" title="Thumbnail"><i class="fa fa-cloud-upload study-text fa-2x" style="text-align: center;" ></i>
                <input type="file" name="imagem" id="imagem">
              </span>
            </div>
            <div class="text-center mt-4 mb-2">
              <button type="button" name="cadastrar" id="iniciaStream" class="btn btn-outline-primary">Iniciar
                <i class="fa fa-send ml-2"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row  pt-5">
    <div class="col-xs-1 col-sm-4 col-md-3 col-lg-2 first-list ">
      <div class="sidebar">
        {% if perfil_logado %}
        {% if transmissao %}
      <div class=" list-group list-group-flush pt-3">
          <a href="" class="list-group-item top-list"><i class="fa fa-heart"></i> Canais Seguidos</a>
          <ul class="list-group list-group-flush ">
           {% for row in transmissao %}
             <a href="{% url 'canal' row.streamer %}">
              <li class="list-group-item list-group-item-action waves-effect list-live" data-toggle="tooltip" onclick="window.location.href='/canal/{{row.streamer}}'" data-placement="right" title="{{row.titulo}}">

                  <img src="{% static row.streamer_imagem %}" class="image_inner_container">
                {{row.streamer}}
                <a class="waves-effect pl-5" style="margin-left: -70px; margin-top: 25px; position: absolute;"><i class=" fa fa-book"></i> {{row.area}}</a>
              </li>
            </a>
            {% endfor %}
          </ul>
        </div>
      {% else %}
      <div class=" list-group list-group-flush pt-3">
        <a href="" target="_top" class="list-group-item  top-list"><i class="fa fa-bookmark"></i> Canais em destaque</a>
          <ul class="list-group list-group-flush ">
          {% for row in destaque %}
             <a href="{% url 'canal' row.streamer %}">
              <li class="list-group-item list-group-item-action waves-effect list-live" onclick="window.location.href='/canal/{{row.streamer}}'" data-toggle="tooltip" data-placement="right" title="{{row.titulo}}">

                  <img src="{% static row.streamer_imagem %}" class="image_inner_container">
                {{row.streamer}}
                <a class="waves-effect pl-5" style="margin-left: -70px; margin-top: 25px; position: absolute;"><i class=" fa fa-book"></i> {{row.area}}</a>
              </li>
            </a>
            {% endfor %}
          </ul>
        </div>

    {% endif %}
    {% else %}
      <div class=" list-group list-group-flush pt-3">
          <a href="" target="_top" class="list-group-item  top-list pt-5"><i class="fa fa-bookmark"></i> Canais em destaque</a>
          <ul class="list-group list-group-flush ">
            {% for row in destaque %}
            <a href="{% url 'canal' row.streamer %}">
              <li class="list-group-item list-group-item-action waves-effect list-live" onclick="window.location.href='/canal/{{row.streamer}}'" data-toggle="tooltip" data-placement="right" title="{{row.titulo}}">
                  <img src="{% static row.streamer_imagem %}" class="image_inner_container">
                {{row.streamer}}
                <a class="waves-effect pl-5" style="margin-left: 100px; margin-top: 25px; position: absolute;"><i class=" fa fa-book"></i> {{row.area}}</a>
              </li>
            </a>
            {% endfor %}
            <button class="btn btn-study" data-toggle='modal' data-target="#form"><i class="fa fa-user-plus"></i> Cadastrar-se</button>
          </ul>
        </div>
        {% endif %}

        </div>
      </div>

      <div class="col-xs-1 col-sm-4 col-md-3 col-lg-2 second-list  ">
      <div class="sidebar">
        {% if perfil_logado %}
        {% if transmissao %}
      <div class="list-group list-group-flush pt-3">
          <a href="" class="list-group-item top-list"><i class="fa fa-heart"></i></a>
          <ul class="list-group list-group-flush ">
           {% for row in transmissao %}
             <a href="{% url 'canal' row.streamer %}">
              <li class="list-group-item list-group-item-action waves-effect list-live" data-toggle="tooltip" data-placement="right" title="{{row.titulo}}">
                <a href="{% url 'canal' row.streamer %}">
                  <img src="{% static row.streamer_imagem %}" class="image_inner_containerR">
                </a>
              </li>
            </a>
            {% endfor %}
          </ul>
        </div>
      {% else %}
      <div class=" list-group list-group-flush pt-3">
        <a href="" target="_blank" class="list-group-item  top-list"><i class="fa fa-bookmark"></i></a>
          <ul class="list-group list-group-flush ">
          {% for row in destaque %}
             <a href="{% url 'canal' row.streamer %}">
              <li class="list-group-item list-group-item-action waves-effect list-live" onclick="window.location.href='/canal/{{row.streamer}}'" data-toggle="tooltip" data-placement="right" title="{{row.titulo}}">
                <a href="{% url 'canal' row.streamer %}">
                  <img src="{% static row.streamer_imagem %}" class="image_inner_containerR">
                </a>
              </li>
            </a>
            {% endfor %}
          </ul>
        </div>

    {% endif %}
    {% else %}
      <div class=" list-group list-group-flush pt-3">
          <a href="" target="_blank" class="list-group-item  top-list pt-5"><i class="fa fa-bookmark"></i></a>
          <ul class="list-group list-group-flush ">
            {% for row in destaque %}
            <a href="{% url 'canal' row.streamer %}">
              <li class="list-group-item list-group-item-action waves-effect list-live" onclick="window.location.href='/canal/{{row.streamer}}'" data-toggle="tooltip" data-placement="right" title="{{row.titulo}}">
                  <img src="{% static row.streamer_imagem %}" class="image_inner_containerR">
              </li>
            </a>
            {% endfor %}
            <button class="btn btn-study btn-sm" data-toggle='modal' data-target="#form"><i class="fa fa-user-plus"></i></button>
          </ul>
        </div>
        {% endif %}

        </div>
      </div>

      <div class="col-xs-11 col-sm-8 col-md-9 col-lg-10 ">
    <iframe class="embed-responsive-item" id="iframe" src="{% url 'live' streamer.id %}" name="ajax" ></iframe>
    </div>
  </div>
  <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'js/validaCadastro.js' %}" charset="utf-8"></script>
  <script src="{% static 'js/validaLogin.js' %}" charset="utf-8"></script>
  <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
  <script type="text/javascript">
    new WOW().init();
    var nArea = {{nArea}};
    for(var i=0; i<nArea; i++){
      var str = "#";
      var id = i + 1;
      var numero =  str.concat(id.toString());
      $(numero).click(function(){
        var val = $(this).val();
        $("#area").val(val);
      });
    }

    $("#iniciaStream").click(function(){
      var titulo = $("#titulo").val();
      var area = $("#area").val();
      var imagem = $("#imagem").val();
      if(!(titulo == "" || area == "" || imagem == "")){
        document.getElementById('iniciaStream').type = "submit";
        $("#iniciaStream").click();
      }else{
        alert("Preencha todos os dados");
      }
    });
  </script>

<!--  <script type="text/javascript">
  $(function() {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>

  <script type="text/javascript">
    $(document).on('click', '#close-preview', function() {
      $('.image-preview').popover('hide');
      // Hover befor close the preview
      $('.image-preview').hover(
        function() {
          $('.image-preview').popover('show');
        },
        function() {
          $('.image-preview').popover('hide');
        }
      );
    });

    $(function() {
      // Create the close button
      var closebtn = $('<button/>', {
        type: "button",
        text: 'x',
        id: 'close-preview',
        style: 'font-size: initial;',
      });
      closebtn.attr("class", "close pull-right");
      // Set the popover default content
      $('.image-preview').popover({
        trigger: 'manual',
        html: true,
        title: "<strong>Preview</strong>" + $(closebtn)[0].outerHTML,
        content: "There's no image",
        placement: 'bottom'
      });
      // Clear event
      $('.image-preview-clear').click(function() {
        $('.image-preview').attr("data-content", "").popover('hide');
        $('.image-preview-filename').val("");
        $('.image-preview-clear').hide();
        $('.image-preview-input input:file').val("");
        $(".image-preview-input-title").text("Procurar");
      });
      // Create the preview image
      $(".image-preview-input input:file").change(function() {
        var img = $('<img/>', {
          id: 'dynamic',
          width: 250,
          height: 200
        });
        var file = this.files[0];
        var reader = new FileReader();
        // Set preview image into the popover data-content
        reader.onload = function(e) {
          $(".image-preview-input-title").text("Mudar");
          $(".image-preview-clear").show();
          $(".image-preview-filename").val(file.name);
          img.attr('src', e.target.result);
          $(".image-preview").attr("data-content", $(img)[0].outerHTML).popover("show");
        }
        reader.readAsDataURL(file);
      });
    });
  </script>-->



</body>

</html>
